<h1>Article#new</h1>
<p>Find me in app/views/article/new.html.erb</p>

<%= bootstrap_form_with(model: @article, url: "/article", method: "POST") do |f| %>
  <%= f.text_field :title %>
  <%= f.rich_text_area :content%>
  <%= f.radio_button :private, "article privé", :checked => true %>
  <%= f.radio_button :private, "article public", :checked => false %>
  <%= f.submit "Log In" %>
<% end %>